.text_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	max-width: 720px;
}

.word__active {
}

.word {
	display: flex;

	margin: 10px 0;

	typing-character {
		display: flex;
		align-items: center;

		position: relative;
	}
}
