<div [ngClass]="{ text_area: true }">
	<div
		*ngFor="let word of lesson.words; index as i"
		[ngClass]="{ word: true, word__active: word.status === 'active' }"
	>
		<typing-character
			*ngFor="let char of word.chars; index as b"
			[ngClass]="{
				typing_character__done: char.status === 'done',
				typing_character__mistake: char.status === 'mistake',
				typing_character__miss: char.status === 'miss'
			}"
			[character]="char"
			[params]="lesson.params"
		></typing-character>
	</div>
</div>
<typing-input (onKeydown)="onKeydown($event)"></typing-input>
