:root {
	/* Main */
	--main-background-color: #1a1a1d;
	--main-font-color: #f8b415;
	--main-font-family: 'Play';
	--main-font-weight: 400;

	--lesson-item__easy-border-color: green;
	--lesson-item__middle-border-color: #f8b415;
	--lesson-item__hard-border-color: red;
	--lesson-item-font-family: 'RobotoMono';
	--lesson-item-font-size: 24px;

	--typing-character-font-family: 'RobotoMono, UbuntuMono';
	--typing-character-font-size: 34px;

	--typing-separating-width: 20px;
	--typing-separating-height: 70%;
	--typing-separating-min-height: 40px;

	--typing-character__wait-font-color: #79580b;
	--typing-character__active-font-color: #79580b;
	--typing-character__done-font-color: #f8b415;
	--typing-character__mistake-font-color: #ffe665;
	--typing-character__miss-font-color: #f16868;

	--typing-separating__wait-border-bottom: 2px solid #79580b;
	--typing-separating__active-border-bottom: 2px solid #79580b;
	--typing-separating__done-border-bottom: 2px solid #f8b415;
	--typing-separating__mistake-border-bottom: 2px solid #ffe665;
	--typing-separating__miss-border-bottom: 2px solid #f16868;

	--typing-carriage-width: 2px;
	--typing-carriage-height: 70%;
	--typing-carriage-top: 25%;
	--typing-carriage-background-color: #f8b415;

	/* Header */
	--header-background-color: #1a1a1d;
	--header-border__bottom-color: #303030;

	--nav__header-font-color: #b98b1f;
	--nav__header-font-family: 'Nunito';

	--logo-font-color: #f8b415;
	--logo-font-family: 'Megrim';
	--logo-font-size: 32px;

	/* Footer */
	--footer-background-color: #1a1a1d;
	--footer-border__top-color: #303030;

	--nav__footer-font-color: #b98b1f;
	--nav__footer-font-family: 'Nunito';

	/* Need remove */
	--color-orange__1: #f8b415;
	--color-orange__2: #e89420;
	--color-orange__3: #f47d27;
	--color-orange__4: #b98b1f;

	--color-yellow__1: #ffe665;
	--color-yellow__2: #ffed94;

	--color-black__1: #1e1e1e;
	--color-black__2: #1a1a1d;
	--color-black__3: rgb(0, 0, 0, 0.62);
	--color-black__4: rgb(256, 256, 256, 0.08);
	--color-black__5: rgb(173, 181, 189, 0.1);
	--color-black__6: #292827;
	--color-black__7: rgb(54, 54, 59, 0.2);
	--color-black__8: rgb(0, 0, 0, 0.18);
	--color-black__9: rgb(0, 0, 0, 0.3);

	--color-gray__1: #303030;
	--color-gray__2: #3b3b42;
	--color-gray__3: #adb5bd;
	--color-gray__4: #979797;
	--color-gray__5: #313138;
	--color-gray__6: #2f2f2f;
	--color-gray__7: #b8b8b8;
	--color-gray__8: #d3d3d3;

	--color-brown__1: #622f00;
	--color-brown__2: #c5753a;
	--color-brown__3: #a84c0f;
	--color-brown__4: #491e03;
	--color-brown__5: #c5753a;

	--color-green__1: #00ff82;
	--color-green__2: #50ffaa;
	--color-green__3: #50f9ff;

	--color-red__1: #be0809;
	--color-red__2: #e36060;
	--color-red__3: #f16868;

	--color-beige__1: #f4ab75;

	--gradient-1__0-100: 180deg, rgba(255, 230, 101, 1) 0%,
		rgba(244, 125, 39, 1) 100%;
	--gradient-1__0-70: 180deg, rgba(255, 230, 101, 1) 0%,
		rgba(254, 115, 36, 1) 70%;
	--gradient-1__0-67: 180deg, rgba(255, 230, 101, 1) 0%,
		rgba(254, 115, 36, 1) 67%;
	--gradient-2__0-70: 180deg, rgba(236, 138, 138, 1) 0%,
		rgba(245, 62, 62, 1) 70%;
	--gradient-3__0-70: 180deg, rgba(0, 255, 130, 1) 0%, rgb(0, 122, 63) 70%;
	--gradient-4__0-100: 180deg, rgba(168, 76, 15, 1) 0%, rgba(73, 30, 3, 1) 100%;
	--gradient-5__0-67: 180deg, rgb(211, 211, 211) 0%, rgba(153, 136, 136, 1) 67%;
}
