:root {
	/* Main */
	--main-background-color: #1a1a1d;
	--main-font-color: #f8b415;
	--main-font-family: 'RobotoMono';
	--main-font-weight: 400;

	--submit-button-background-color: #f8b415;
	--submit-button-font-color: #1a1a1d;

	--toggle-button__off-color: #f8b415;
	--toggle-button__off-background-color: #1a1a1d;
	--toggle-button__off-border-color: #f8b415;

	--toggle-button__on-color: #1a1a1d;
	--toggle-button__on-background-color: #f8b415;
	--toggle-button__on-border-color: #f8b415;

	--faq-font-color: #1a1a1d;
	--faq-background-color: #f8b415;
	--faq__answer-background-color: rgb(0, 0, 0, 0.3);
	--faq__answer-font-color: #f8b415;

	--scroll-bar-background-color: transparent;
	--scroll-bar__thumb-background-color: #f8b415;

	--lessons-group-border-color: #f8b415;

	--lesson-item__easy-border-color: green;
	--lesson-item__middle-border-color: #f8b415;
	--lesson-item__hard-border-color: red;
	--lesson-item-font-family: 'RobotoMono';
	--lesson-item-font-size: 24px;
	--lesson-item-topic-font-size: 45px;
	--lesson-item-counter-font-size: 24px;

	--typing-start-blur-duration: 300ms;
	--typing-message-start-visibility-duration: 300ms;
	--typing-message-start-font-size: 27px;
	--typing-message-start-font-family: 'Nunito';

	--typing-character-font-family: 'RobotoMono, UbuntuMono';
	--typing-character-font-size: 34px;

	--typing-separating-width: 20px;

	--typing-character__wait-font-color: #79580b;
	--typing-character__active-font-color: #79580b;
	--typing-character__done-font-color: #f8b415;
	--typing-character__mistake-font-color: #ffe665;
	--typing-character__miss-font-color: #f16868;

	--typing-separating__wait-border-bottom: 2px solid #79580b;
	--typing-separating__active-border-bottom: 2px solid #79580b;
	--typing-separating__done-border-bottom: 2px solid #f8b415;
	--typing-separating__mistake-border-bottom: 2px solid #ffe665;
	--typing-separating__miss-border-bottom: 2px solid #f16868;

	--typing-carriage-width: 2px;
	--typing-carriage-height: 70%;
	--typing-carriage-top: 25%;
	--typing-carriage-background-color: #f8b415;

	--typing-carriage-transition__new-line-duration: 300ms;

	--typing-result-display__title-font-color: #b98b1f;
	--typing-result-display__title-font-family: 'RobotoMono';

	--typing-key-border-color: #1a1a1d;
	--typing-key-font-color: #1a1a1d;
	--typing-keyboard-hint-background-color: #b98b1f;
	--typing-keyboard-hint-border-color: #f8b415;

	/* Header */
	--header-background-color: #1a1a1d;
	--header-border__bottom-color: #303030;

	--nav__header-font-color: #f8b415;
	--nav__header-font-family: 'RobotoMono';
	--nav__header-font-size: 18px;

	--logo-font-color: #f8b415;
	--logo-font-family: 'Megrim';
	--logo-font-size: 32px;

	/* Footer */
	--footer-background-color: #1a1a1d;
	--footer-border__top-color: #303030;

	--nav__footer-font-color: #b98b1f;
	--nav__footer-font-family: 'Nunito';
}
