<div [ngClass]="{ container: true }">
	<div [ngClass]="{ lesson__wrapper: true }">
		@if(!lesson.isEnd) {
		<div
			[ngClass]="{ title: true }"
			[style.align-items]="
				!lesson.params.enablePreview && !lesson.isStart ? 'center' : 'flex-end'
			"
		>
			<h1
				[ngClass]="{ topic: true }"
				[style.visibility]="
					!lesson.params.enablePreview && !lesson.isStart ? 'visible' : 'hidden'
				"
				[style.display]="
					!lesson.params.enablePreview && !lesson.isStart ? 'inline' : 'none'
				"
				[style.opacity]="
					!lesson.params.enablePreview && !lesson.isStart ? '1' : '0'
				"
			>
				{{ lesson.topic }}
			</h1>
			<p
				[ngClass]="{ counter: true }"
				[style.visibility]="
					!lesson.params.enablePreview && !lesson.isStart ? 'hidden' : 'visible'
				"
				[style.opacity]="
					!lesson.params.enablePreview && !lesson.isStart ? '0' : '1'
				"
			>
				{{ lesson.positionWord }} / {{ lesson.words.length }}
			</p>
		</div>
		<typing-input-area [lesson]="lesson"></typing-input-area>
		<keyboard-hint [lesson]="lesson"></keyboard-hint>
		} @else {
		<typing-results
			[lesson]="lesson"
			[id]="id"
			(refreshTrigger)="refreshLesson()"
		></typing-results>
		}
	</div>
</div>
