.container {
	max-width: 1720px;

	margin: 0 auto;
	padding: 20px 40px 0 40px;
}

.home__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	height: 100%;
	width: 100%;

	.lessons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		width: 100%;

		lesson-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			height: 200px;
			width: 100px;

			border: 1px solid;

			padding: 10px 30px;
			margin: 20px;

			cursor: pointer;
		}
	}
}
