.container {
	max-width: 1720px;

	margin: 0 auto;
	padding: 20px 40px 0 40px;
}

.settings__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	height: 100%;
	width: 100%;

	button {
		background-color: var(--submit-button-background-color);
		color: var(--submit-button-font-color);
		border-radius: 10px;

		padding: 10px 20px;

		margin-top: 10px;

		cursor: pointer;
	}
}

.tittle {
	font-family: 'Nunito';
	font-size: 40px;

	margin: 5px 0;
}
