<div [ngClass]="{ container: true }">
	<div [ngClass]="{ settings__wrapper: true }">
		<h1 [ngClass]="{ title: true }">Настройки уроков</h1>
		<div [ngClass]="{ settings: true }">
			<toggle
				[title]="'Разрешить ошибки'"
				[(value)]="params.allowErrors"
			></toggle>
			<toggle
				[title]="'Разрешить заглавные буквы'"
				[(value)]="params.allowCapitalLetters"
			></toggle>
			<toggle
				[title]="'Разрешить цифры'"
				[(value)]="params.allowNumbers"
			></toggle>
			<toggle
				[title]="'Разрешить предпросмотр'"
				[(value)]="params.enablePreview"
			></toggle>
			<toggle
				[title]="'Генерация слов'"
				[(value)]="params.enableFishText"
			></toggle>
			<toggle
				[title]="'Отображение клавиатуры'"
				[(value)]="params.enableKeyboardHint"
			></toggle>
			<toggle
				[title]="'Отображение рук'"
				[(value)]="params.enableHandHint"
			></toggle>
			<common-input
				[title]="'Макс слов'"
				[(value)]="params.maxWords"
				[type]="'range'"
				[min]="1"
				[max]="100"
			></common-input>
			<common-input
				[title]="'Макс символов'"
				[(value)]="params.maxCharForWord"
				[type]="'range'"
				[min]="1"
				[max]="20"
			></common-input>
			<common-input
				[title]="'Макс попыток для ввода'"
				[(value)]="params.maxCharAttempt"
				[type]="'range'"
				[min]="1"
				[max]="5"
			></common-input>
		</div>
		<submit-button
			[title]="'Сохранить'"
			(onClicked)="onClickSave()"
		></submit-button>
	</div>
</div>
