<p
	[ngClass]="{
		character: !character.isSeparating,
		character__active: !character.isSeparating && character.status === 'active',
		character__wait: !character.isSeparating && character.status === 'wait',
		character__done: !character.isSeparating && character.status === 'done',
		character__mistake:
			!character.isSeparating && character.status === 'mistake',
		character__miss: !character.isSeparating && character.status === 'miss',
		separating: character.isSeparating,
		separating__active: character.isSeparating && character.status === 'active',
		separating__wait: character.isSeparating && character.status === 'wait',
		separating__done: character.isSeparating && character.status === 'done',
		separating__mistake:
			character.isSeparating && character.status === 'mistake',
		separating__miss: character.isSeparating && character.status === 'miss'
	}"
>
	{{ character.char }}
</p>
<div
	[ngClass]="{
		carriage: true,
		carriage__active: character.status === 'active'
	}"
></div>
