<p
	[ngClass]="{
		character: params.separating !== character.char,
		character__active:
			params.separating !== character.char && character.status === 'active',
		separating__active:
			params.separating === character.char && character.status === 'active',
		separating__wait:
			params.separating === character.char && character.status === 'wait',
		separating__done:
			params.separating === character.char && character.status === 'done',
		separating__mistake:
			params.separating === character.char && character.status === 'mistake',
		separating__miss:
			params.separating === character.char && character.status === 'miss'
	}"
>
	{{ character.char }}
</p>
<div [ngClass]="{ carriage: true }"></div>
