<div [ngClass]="{ hand: true }">
	<img src="assets/images/main/hand-right.png" [style.height]="'200px'" />
	<div
		[ngClass]="{
			point: true,
			point_finger_big: lesson && lesson.keyboard && lesson.keyboard.activeKey && (lesson.keyboard.activeKey.finger === 'Big' || lesson.keyboard.activeKey.finger === 'BigRight'),
			point_finger_index: lesson && lesson.keyboard && lesson.keyboard.activeKey && lesson.keyboard.activeKey.finger === 'IndexRight',
			point_finger_middle: lesson && lesson.keyboard && lesson.keyboard.activeKey && lesson.keyboard.activeKey.finger === 'MiddleRight',
			point_finger_ring: lesson && lesson.keyboard && lesson.keyboard.activeKey && lesson.keyboard.activeKey.finger === 'RingRight',
			point_finger_pinky: lesson && lesson.keyboard && lesson.keyboard.activeKey && lesson.keyboard.activeKey.finger === 'PinkyRight',
		}"
	></div>
</div>
