.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 700px;
	height: 300px;
}

.title {
	text-align: center;
	font-family: var(--typing-result-display__title-font-family);
	font-size: var(--lesson-item-topic-font-size);

	margin: 0;
	padding: 0;
}

.results_panel {
	display: flex;
	justify-content: space-evenly;
}

.result_tool_bar {
	display: flex;
	justify-content: space-evenly;

	button {
		font-size: 30px;
		color: var(--main-font-color);

		cursor: pointer;
	}
}
